@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background: #EBE3D5;

}
html,.footer{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.bg-img {
    background-image: url('./assets/swiper/Swiper1/swiper_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.ad:hover .icon{
    animation: bounce 1s infinite;

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
}
.greenLife{
    background: url(https://w0.peakpx.com/wallpaper/124/611/HD-wallpaper-green-park-beautiful-trees-grass-greenery-thumbnail.jpg);
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: right;
}
.greenLife2{
    background: url(https://th-thumbnailer.cdn-si-edu.com/yvmHQwcZrAI__BKv53hDPeQR38o=/800x450/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/04/8e/048ed839-a581-48af-a0ae-fac6fec00948/gettyimages-168346757_web.jpg);
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: right;
}
.greenLife3{
    background: url(https://static.vecteezy.com/system/resources/thumbnails/024/495/391/small_2x/earth-day-and-world-environment-day-spring-beautiful-natural-verdant-green-forest-in-summer-generate-ai-free-photo.jpg);
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: right;
}
ul li::before{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: #F3EEEA;
    margin-left: auto;
    transition: 0.5s;
    margin-bottom: 3px;
    /* background-color: ; */
}
ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #F3EEEA;
    display: block;
    margin-right: auto;
    transition: 0.5s;
    margin-top: 3px;
}
ul li:hover::before{
    width: 100%;
}
ul li:hover::after{
    width: 100%;
}
.swiper8{
    background-image: url('src/assets/swiper/swiper3/swiper_8.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}